*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
    margin:10%;
    background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);

}
a{
    text-decoration: none;
    color: #1100ff;
}
a:hover{
    text-decoration: underline #0000ff;
}
.custom-form{

    margin-top: 188px;
    border:none;
    background: #fcf5f53f;
    width: 400px;
    height:20%;
    margin: 0 auto;
    padding:20px;
    border-radius: 10px;
 
}
.login-form{
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}
input{
    display: flex;
    border: 1px solid #e4e4e4;
    background: #e4e4e4;
    width: 100%;
    height: 30px;
outline-color: #fff;
    margin-bottom: 15px;
    margin-top: 5px;
    padding:10px;
    border-radius: 15px;
}
.labell{
    padding-left:10px ;
   


}
button{
    width:30%;
    height: 25px;
    background: #0000ff;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #0000ff;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px
}
button:hover{
    color: #000;
}
.Forgetpass{
    text-align: right;
    font-size: 15px;
}
.create-acc{
    text-align: center;
    font-size: 15px;
}